:root {
  --background-gradient: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.assignment-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1px;
}

.cat-box {
  background-color: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cat-box>a {
  width: 100%;
  text-decoration: none;
  color: var(--color-6);
  font-family: "Poppins";
}

.cat-box-content {
  text-align: center;
  font-size: 32pt;
  font-variant: small-caps;
  /* width: 100%; */
  /* height: 100%; */
  padding: 1rem;
  backdrop-filter: blur(5px);
  user-select: none;
  min-height: max-content;
  transition: backdrop-filter 200ms, font-size 200ms, font-weight 200ms;
  position: relative;
}

.cat-box:hover .cat-box-content {
  backdrop-filter: blur(1px);
}

#tables {
  background-image: var(--background-gradient), url(../img/pages/tables.png);
  background-size: cover;
  background-position-y: center;
}

#mapping {
  background-image: var(--background-gradient), url(../img/pages/mapping.png);
  background-size: cover;
  background-position-y: center;
}

#pizza-1 {
  background-image: var(--background-gradient), url(../img/pages/pizza-1.png);
  background-size: cover;
  background-position-y: center;
}

#superhero {
  background-image: var(--background-gradient), url(../img/pages/superhero.png);
  background-size: cover;
  background-position-y: center;
}

#horizontal-menu {
  background-image: var(--background-gradient), url(../img/pages/menu.png);
  background-size: cover;
  background-position-y: center;
}

#little-boxes {
  background-image: var(--background-gradient), url(../img/pages/little-boxes.png);
  background-size: cover;
  background-position-y: center;
}

#midterm {
  background-image: var(--background-gradient), url(../img/pages/midterm.png);
  background-size: cover;
  background-position-y: center;
  grid-column-end: 3;
  grid-column-start: 1;
}

#photoshop {
  background-image: var(--background-gradient), url(../img/pages/photoshop.png);
  background-size: cover;
  background-position-y: 20%;
}

/* https://images.unsplash.com/photo-1646532410674-0ca04df8d724?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */

#photoshop {
  background-image: var(--background-gradient), url(../img/pages/photoshop.png);
  background-size: cover;
  background-position-y: 20%;
}

#happy-birthday {
  background-image: var(--background-gradient), url(https://images.unsplash.com/photo-1646532410674-0ca04df8d724?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&w=1000&q=80);
  background-size: cover;
  background-position-y: 20%;
}

#lottery {
  background-image: var(--background-gradient), url(../img/pages/lottery.png);
  background-size: cover;
  background-position-y: 55%;
}

#coming-soon {
  opacity: 0;
}

@media only screen and (max-width: 500px) {
  .cat-box-content {
    font-size: 24pt;
    font-weight: 200;
  }
}
