body {
  font-family: 'Roboto', sans-serif;
  background-color: #001b25;
  color: white;
  margin: 1rem;
}

table, tr, td, th {
  padding: .4rem;
  border: 1px solid white;
  border-collapse: collapse;
}

a:link {
  color: rgb(255, 170, 59);
  text-decoration: none;
}

a:visited {
  color: greenyellow;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}