body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #2d3033;
  color: white;
}

a.home-link {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: .5rem;
  background: #454545;
  border-radius: 5px;
}

a.home-link:hover {
  background: #696969;
}

.dc {
  margin: 10px; /* Superseeded by inline styles */
  padding: 0.5rem;
  border-radius: 5px;
  background-image: linear-gradient(to right, #53a2fd, #3e41f8);
  color: black;
}

.dc h2 {
  color: white;
}

/* Batman */
div.batman {
  border-radius: 5px;
  background: #00000063;
  margin: 10px;
  padding: 0.5rem 1rem;
}

div.batman p {
  border-radius: 5px;
  background: #ffffff;
  padding: 0.3rem;
  color: black;
}

/* Wonder-woman */
div.wonder-woman {
  border-radius: 5px;
  background: #3e41f877;
  margin: 10px;
  padding: 0.5rem 1rem;
}

div.wonder-woman p {
  border-radius: 5px;
  background: #ffcb2d;
  padding: 0.3rem;
  color: black;
}

/* Superman */
div.superman {
  border-radius: 5px;
  background: #8700009b;
  margin: 10px;
  padding: 0.5rem 1rem;
}

div.superman p {
  border-radius: 5px;
  background: #2c84ff;
  padding: 0.3rem;
  color: black;
}

/* Iron-man */
div.iron-man {
  border-radius: 5px;
  background: #7777779b;
  margin: 10px;
  padding: 0.5rem 1rem;
}

div.iron-man p {
  border-radius: 5px;
  background: #000000;
  padding: 0.3rem;
  color: white;
}

/* Thor */
div.thor {
  border-radius: 5px;
  background: #1dcaff9b;
  margin: 10px;
  padding: 0.5rem 1rem;
}

div.thor p {
  border-radius: 5px;
  background: #f717ff;
  padding: 0.3rem;
  color: black;
}