:root {
  --c-font-heading: 'Arvo', serif;
  --c-font-code: 'IBM Plex Mono', monospace;
}

body {
  font-family: var(--c-font-code);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--c-font-heading);
}

.font-heading {
  font-family: var(--c-font-heading);
}
