/*
 * Custom CSS
 */

 :root {
  --bs-body-bg: var(--bs-gray-50);
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.bg-cover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("assets/img/julia-matuzova-6I7KQ9XaJmw-unsplash.jpg");
  background-size: cover;
}

.bg-cover:hover {
  background-blend-mode: luminosity;
}